.navigation-link {
  display: inline-block;
  color: var(--light-text-color);
  font-size: var(--nav-link--text-size);
  text-decoration: none;
  transition: all .3s;
}

.navigation-link_active {
  font-weight: var(--medium-fw);
}

.navigation-link:hover {
  opacity: .6;
  transition: all .3s;
}
