.movies-card {
  background-color: var(--secondary-bg-color);
  border-radius: var(--base-border-radius);
  box-shadow: 0 16px 24px rgba(0, 0, 0, 0.05);
  overflow: hidden;
}

.movies-card__img {
  width: 100%;
}

.movies-card__description-wrapper {
  padding: 9px 11px 11px 12px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  row-gap: 8px;
  grid-template-areas:
    "title button"
    "duration duration"
  ;
}

.movies-card__title {
  margin: 0;
  padding-top: 3px;
  grid-area: title;
  font-size: 13px;
  line-height: 1.23;
  font-weight: var(--medium-fw);
}

.movies-card__duration {
  grid-area: duration;
  font-size: 11px;
  line-height: 1.18;
  color: var(--lightgray-text-color);
}

.movies-card__save-button {
  display: block;
  padding: 0;
  width: 19px;
  height: 19px;
  grid-area: button;
  background: transparent url('../../images/save-button_state_off.svg') center 23%;
  border: none;
  border-radius: 100%;
  cursor: pointer;
}

.movies-card__save-button_state_on {
  background: transparent url('../../images/save-button_state_on.svg') center 23%;
}
