.movies-card {
  max-height: 218px;
  display: grid;
  grid-template-rows: 151px 67px;
  background-color: var(--secondary-bg-color);
  border-radius: var(--base-border-radius);
  box-shadow: 0 16px 24px rgba(0, 0, 0, 0.05);
  overflow: hidden;
}

.movie-card__trailer-link {
  z-index: 1;
}

.movies-card__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.movies-card__description-wrapper {
  box-sizing: border-box;
  padding: 9px 12px 13px;
  max-height: 67px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, min-content);
  gap: 12px 15px;
  grid-template-areas:
    "title icon"
    "duration duration"
  ;
}

.movies-card__title {
  margin: 0;
  grid-area: title;
  font-size: 13px;
  line-height: 1.23;
  font-weight: var(--medium-fw);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movies-card__duration {
  grid-area: duration;
  font-size: 11px;
  line-height: 1.18;
  color: var(--lightgray-text-color);
}

.movies-card__icon {
  display: block;
  width: 16px;
  height: 16px;
  grid-area: icon;
  border-radius: 100%;
  cursor: pointer;
  transition: all .3s;
}

.movies-card__icon:hover {
  opacity: .6;
}

@media screen and (max-width: 768px) {
  .movies-card {
    max-height: 339px;
    grid-template-rows: 190px 67px;
  }

  .movies-card__description-wrapper {
    padding-top: 12px;
  }
}

@media screen and (max-width: 320px) {
  .movies-card {
    grid-template-rows: 168px 67px
  }
}
