.profile {
  padding: 0 30px;
  display: flex;
}

.profile__container {
  margin: 57px auto;
  max-width: 410px;
  max-height: 71vh;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr;
  align-content: center;
  row-gap: 109px;
}

.profile__title {
  text-align: center;
  font-size: 24px;
  line-height: 1.2;
}

.profile__edit-form {
  display: grid;
  grid-template-rows: repeat(3, min-content) 1fr;
  row-gap: 16px;
}

.profile__label {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  font-size: 11px;
  line-height: 1.18;
}

.profile__input {
  width: 100%;
  text-align: right;
  color: var(--light-text-color);
  background: transparent;
  border: none;
}

.profile__input:focus {
  outline: 1px solid #3DDC84FF;
}

.profile__error-message {
  font-size: 10px;
  line-height: 1;
  color: var(--input-error-color);
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 0;
  transition: opacity 0.3s;
}

.profile__divider {
  height: 1px;
  background: var(--dark-lines-color);
}

.profile__update-message {
  margin-top: 40px;
  text-align: center;
  opacity: .6;
}

.profile__update-message_fail {
  color: var(--input-error-color);
}

.profile__update-message_success {
  color: var(--primary-accent-color);
}

.profile__control {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  align-self: end;
  justify-self: center;
  row-gap: 14px;
}

.profile__button {
  font-size: 13px;
  line-height: 1.23;
  background: transparent;
  transition: all .3s;
  border: none;
  cursor: pointer;
}

.profile__button:hover {
  opacity: .6;
}

.profile__button_edit-confirm {
  color: var(--light-text-color);
}

.profile__button_disabled {
  color: var(--lightgray-text-color);
}

.profile__button_disabled:hover {
  opacity: .6;
  cursor: not-allowed;
}

.profile__button_logout {
  color: var(--input-error-color);
}

@media screen and (max-width: 768px) {
  .profile__container {
    margin-top: 21vh;
    max-height: 45vh;
    row-gap: 82px;
  }
}

@media screen and (max-width: 320px) {
  .profile__container {
    margin-top: 54px;
    max-height: 79vh;
    row-gap: 64px;
  }
}
