.header {
  display: flex;
  align-items: center;
  min-height: 74px;
  padding: 0 50px;
}

.header__logo {
  margin-right: 44px;
}

.header__nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
